@import '../../colors.scss';

.inventory-panel-overlay {
  z-index: 2000;
}

.inventory-panel-overlay{
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgba($color: #000000, $alpha: .33);

  .inventory-panel-wrapper{
    background: white;
    box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
    border-radius: 8px;
    padding: 25px;
    width: 60vw;
    min-width: 600px;
    font-size: 1.8em;
    color: $color-black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 92%;

    .title {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    .avatar-item{
      display: inline-block;
      width: 30%;
      position: relative;
      background: rgba(0,0,0,0.9) no-repeat center center / 90% auto;
      border: solid $color-lightgrey 2px;
      color: white;
      transition: all 0.2s ease;
      margin: 1.5%;
      border-radius: 5px;

      &:before{
        content: '';
        display: block;
        padding: 100% 0 0 0;
      }

      &:hover:not(.selected):not(.disabled){
        cursor: pointer;
        box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
      }

      &.legendary {
        background-color: rgba(201, 176, 55, .9);
      }

      &.epic {
        background-color: rgba(215, 215, 215, .9);
      }

      &.rare {
        background-color: rgba(173, 138, 86, .9);
      }

      &.selected {
        background-size: 110% auto;
        border-color: $color-bg-main;
        background-color: rgba(0,0,0,0.8);
      }

      &.selected.legendary {
        background-color: rgba(201, 176, 55, 0.8);
      }

      &.selected.epic {
        background-color: rgba(215, 215, 215, 0.8);
      }

      &.selected.rare {
        background-color: rgba(173, 138, 86, 0.8);
      }

      &.disabled {
        cursor: default;
        opacity: .8;
      }

      .avatar-count{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 4px;
        border-top-left-radius: 5px;
        color: $color-bg-main;
        line-height: .5em;
        font-size: .5em;
        font-weight: 700;

        .count {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-top: 2px;
          .count-text {
            margin-right: 2px;
          }

          img {
            height: .8em;
            width: auto;
          }
        }
      }

      .star{
        opacity: 0;
        position: absolute;
        top: 3px;
        right: 3px;
        width: 20%;
        height: auto;

        &.active{
          opacity: 1;
        }
      }
    }

    .left-panel {
      width: 30%;
      display: flex;
      flex-direction: column;
      height: 100%;

      .button-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .coin-wrapper {
          display: flex;
          align-items: center;
          background-color: $color-black;
          color: $color-white;
          font-weight: 700;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: .8em;

          img {
            height: 1em;
            width: auto;
            margin-left: 5px;
          }
        }

        input[type=button] {
          color: $color-white;
          border: none;
          border-radius: 5px;
          padding: 10px 14px;
          outline: 0;
          display: block;
          font-size: .7em;
          font-weight: bold;
          text-transform: uppercase;
          background-color: $color-bg-main;
          margin: 2%;
        }

        input[type=button]:not(:disabled):hover {
          box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
          cursor: pointer;
        }
      }

      .list-avatars{
        width: 100%;
        flex-wrap: wrap;
        overflow-y: auto;
        flex: 1;
        margin-bottom: 5px;
      }

      .box-wrapper {
        width: 30%;
        position: relative;
        background: rgba(0,0,0,0.9) url('/assets/images/egg.png') no-repeat center center / 65% auto;
        border: solid $color-lightgrey 2px;
        color: white;
        transition: all 0.2s ease;
        border-radius: 5px;

        &:before{
          content: '';
          display: block;
          padding: 100% 0 0 0;
        }

        &:hover{
          cursor: pointer;
          box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
        }

        &.selected{
          background-size: 70% auto;
          background-color: rgba(0,0,0,0.8);
          border-color: $color-bg-main;
        }

        .box-count{
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 2px;
          background-color: white;
          border-top-left-radius: 5px;
          color: $color-bg-main;
          font-size: .6em;
          font-weight: 700;
        }
      }
    }

    .right-panel {
      flex: 1;
      height: 100%;
      position: relative;

      .right-panel-background{
        position: absolute;
        height: 100%;
        width: 100%;
        background: transparent no-repeat center center / auto 70%;
        z-index: 1;

        &.display-loots{
          opacity: 0.5;
        }

        &.fusing {
          filter: brightness(0);
        }
      }

      .selected-item-wrapper{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        padding: 5%;
        z-index: 10;

        .item-name{
          background: $color-bg-sub;
          font-weight: 700;
          font-size: 1.2em;
          color: white;
          padding: 8px 12px;
          border-radius: 5px;
          box-shadow: rgba($color: $color-bg-sub, $alpha: 0.5) 0 0 20px 0;
        }

        .avatar-option-wrapper{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;

          .avatar-option-item{
            position: relative;
            width: 10%;
            background: rgba(0,0,0,0.9) no-repeat center center / 90% auto;
            margin: 1%;
            opacity: 0.6;
            transition: all 0.2s ease;

            &.active{
              opacity: 1;
            }

            &.active:hover{

              .select-shiny-button{
                opacity: 1;
                cursor: pointer;
              }
            }

            &:before{
              content: '';
              display: block;
              padding: 100% 0 0 0;
            }

            .star{
              position: absolute;
              top: 2px;
              right: 2px;
              width: 30%;
              height: auto;
            }

            .select-shiny-button{
              opacity: 0;
              background: rgba($color: #000000, $alpha: .33) url("/assets/images/check-mark.png") no-repeat center center / 50% auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              border: none;
              width: 100%;
              height: 100%;
              transition: all 0.2s ease;

              &.selected{
                opacity: 1;
              }
            }
          }
        }

        .money-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 1.2em;
          font-weight: 700;
          margin-top: 10px;

          img {
            height: 1.2em;
            width: auto;
            margin-left: 5px;
          }
        }
      }

      .button-wrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        input[type=button] {
          color: $color-white;
          border: none;
          border-radius: 5px;
          padding: 10px 14px;
          outline: 0;
          display: block;
          font-size: .7em;
          font-weight: bold;
          text-transform: uppercase;
          background-color: $color-bg-main;
          margin: 3px 5px 0 5px;

          &:disabled{
            background-color: grey;
          }

          &.unlock-btn.unlocked {
            background-color: rgb(201, 176, 55);
          }
        }

        input[type=button]:not(:disabled):hover {
          box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
          cursor: pointer;
        }

        .overlay-buttons-wrapper{
          position: relative;

          .overlay-buttons{
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            transform: translateY(-100%);
            width: calc(100% - 10px);

            input[type=button]{
              width: 100%;
              margin-top: 4px;
            }
          }

          &:hover{

            .overlay-buttons{
              display: block;

            }
          }
        }
      }

      .loot-wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 0 1% 0 4%;

        .list-loots{
          width: 80%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          overflow-y: auto;
          margin-bottom: 5px;
  
          .avatar-item{
            width: 22%;
          }

          .loot-money{
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            font-weight: 700;
          }

          .unlocked-avatar {
            width: 45%;
            margin: 0 auto 10% auto;
            height: auto;
            position: relative;
            background: rgba(0,0,0,0.9) no-repeat center center / 90% auto;
            border: solid $color-lightgrey 2px;
            color: white;
            transition: all 0.2s ease;
            border-radius: 5px;
            cursor: pointer;

            &:before {
              display: block;
              content: '';
              padding: 100% 0 0 0;
            }

            &.legendary {
              background-color: rgba(201, 176, 55, .9);
            }

            &.epic {
              background-color: rgba(215, 215, 215, .9);
            }

            &.rare {
              background-color: rgba(173, 138, 86, .9);
            }

            .star {
              position: absolute;
              top: 5%;
              right: 5%;
              width: 15%;
              height: auto;
            }
          }
        }

        input[type=button] {
          color: $color-white;
          border: none;
          border-radius: 5px;
          padding: 10px 14px;
          outline: 0;
          display: block;
          font-size: .7em;
          font-weight: bold;
          text-transform: uppercase;
          background-color: $color-bg-main;
          margin: 2%;
        }

        input[type=button]:not(:disabled):hover {
          box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
          cursor: pointer;
        }
      }

      .fuse-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 85%;
        z-index: 10;
        bottom: 0;
        padding: 0 1% 0 4%;

        .spacer {
          flex: 1;
        }

        .avatar-template-list, .avatar-fuse-list {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 0 20px;

          .avatar-item {
            width: 15%;
          }
        }

        .fuse-button-wrapper {
          padding-bottom: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;

          input[type=button]:not(:disabled):hover {
            box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
            cursor: pointer;
          }

          input[type=button] {
            color: $color-white;
            border: none;
            border-radius: 5px;
            padding: 10px 14px;
            outline: 0;
            display: block;
            font-size: .7em;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $color-bg-main;
            margin: 3px 5px 0 5px;
  
            &:disabled{
              background-color: grey;
            }
          }
        }
      }

      .sell-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 85%;
        z-index: 10;
        bottom: 0;
        padding: 0 1% 0 4%;

        .spacer {
          flex: 1;
        }

        .money-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-bg-main;
          border-radius: 5px;
          padding: 2px 10px;

          .money-text {
            font-size: 1.2em;
            font-weight: 700;
            color: white;
            line-height: 1.2em;
          }

          img {
            height: 1.2em;
            width: auto;
            margin-right: .5em;
          }
        }

        .avatar-template-list {
          justify-content: center;
        }

        .avatar-sell-list {
          justify-content: flex-start;
          padding: 0 10%;
        }

        .avatar-template-list, .avatar-sell-list {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          margin: 0 20px;

          .avatar-item {
            width: 12%;
          }
        }

        .sell-button-wrapper {
          padding-bottom: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;

          input[type=button]:not(:disabled):hover {
            box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
            cursor: pointer;
          }

          input[type=button] {
            color: $color-white;
            border: none;
            border-radius: 5px;
            padding: 10px 14px;
            outline: 0;
            display: block;
            font-size: .7em;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $color-bg-main;
            margin: 3px 5px 0 5px;
  
            &:disabled{
              background-color: grey;
            }
          }
        }
      }
    }
  
    .subtitle {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        height: 1em;
        width: auto;
        margin-left: 8px;
      }

      .spacer {
        flex: 1;
      }

      input[type=button] {
        font-size: .5em;
      }
    }
  }
    
}