@import '../../colors.scss';

.lobby-panel {
  padding: 20px;
  background: rgba(0,0,0,.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;

  .title {
    color: $color-white;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 7px;
  }

  .subtitle {
    color: $color-white;
    font-size: 1.1em;
    margin-bottom: 20px;
  }
}