@import '../../colors.scss';

.minigame-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .tile {
    position: absolute;
    background: transparent no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: auto 120%;
    transition: all linear;
    &.char {
      height: 100%;
      transform: translateY(0);
      transition: all ease .2s;
      &.crouched {
        height: 60%;
        background-size: 200% 100%;
      }
      &.jump {
        transform: translateY(-42%);
      }
      .player-name {
        position: absolute;
        width: 100%;
        text-align: center;
        color: $color-white;
        top: 0;
        transform: translateY(-100%);
        font-size: 1.2em;
        font-weight: 700;
      }
      .player-score {
        position: absolute;
        width: 100%;
        text-align: center;
        color: $color-white;
        top: 0;
        font-size: 1em;
        font-weight: 700;
      }
    }
    &.box {
      height: 40%;
      background-image: url(/assets/images/egg.png);
      background-size: auto 100%;
      // background: grey;
    }
    &.rock {
      height: 40%;
      background-image: url(/assets/images/asteroid.png);
      // background: grey;
    }
    &.bird1,&.bird2 {
      height: 40%;
    }
    &.bird1 {
      background-image: url(/assets/images/rocket1.png);
    }
    &.bird2 {
      background-image: url(/assets/images/rocket2.png);
    }
  }
}