@import '../../colors.scss';

.play.page {
  background: transparent no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  padding-top: 0;

  .gameContainer {
    width: 100%;
    height: 100%;
    border: 0;
  }

  button.menu {
    position: absolute;
    top: 60px;
    left: 0;
    border: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    background: $color-white;
    color: $color-bg-sub;
    font-size: 1.2em;
    padding: .2em .5em;
    cursor: pointer;
    transition: all .2s;
    
    &:hover {
      padding: .1em .4em;
    }
  }

  >.title {
    color: $color-white;
    font-size: 4em;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  }

  >.subtitle {
    color: $color-white;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  }
}