@import '../../colors.scss';

.menu-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 60%;
    position: relative;
    background-image: linear-gradient(0deg,$color-bg-main,$color-bg-sub);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    
    &:before {
      content: '';
      width: 100%;
      padding: 60% 0 0 0;
      display: block;
    }

    .left-wrapper {
      width: 60%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;

      .menu-panel-title {
        font-size: 2em;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 25px;
        width: 100%;
      }

      .buttons-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        a {
          display: block;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }

        button {
          border: solid 1px $color-bg-sub;
          background: $color-bg-main;
          color: $color-white;
          font-size: 1.5em;
          padding: .5em .9em;
          font-weight: 700;
          cursor: pointer;
          box-shadow: 0 0 10px 0 rgba(0,0,0,.5);

          &.active {
            animation: grow .5s ease 0s infinite alternate;
          }
        }
      }
    }

    .right-wrapper {
      font-size: .8em;
      width: 40%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}