@import '../../colors';

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.horizontal-list {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  .item {
    transition: .2s ease;
    width: 22%;
    position: relative;
    background: white no-repeat center center / cover;
    box-shadow: 0 0 20px 0px rgba(0,0,0,.5);
    margin-bottom: 30px;
    border-left: 0;
    border-bottom: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;

    &:hover,
    &.selected {
      transform: rotateZ(5deg);
    }

    &:not(:first-child),
    &:not(:last-child) {
      margin-left: 1.5%;
      margin-right: 1.5%;
    }

    &:before {
      padding: 60% 0 0 0;
      width: 100%;
      display: block;
      content: '';
    }

    .title {
      position: absolute;
      top: 8px;
      left: 8px;
      padding: 2px 8px;
      color: $color-black;
      font-size: .9em;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.2em;
      background: $color-white;
      border-radius: 5px;
    }

    .subtitle {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 10px;
      font-size: .8em;
      text-align: right;
      color: $color-white;
      background: rgba(0,0,0,.5);
      text-transform: uppercase;
    }

    .pin {
      position: absolute;
      top: 45px;
      left: 8px;
      padding: 2px 6px;
      color: $color-white;
      font-size: .8em;
      font-weight: 700;
      text-transform: uppercase;
      background: $color-black;
      display: flex;
      align-items: center;
      justify-content: left;

      &::after {
        height: .8em;
        width: .8em;
        border-radius: 50%;
        margin-left: .5em;
        content: '';
        display: block;
      }

      &.active::after {
        background-color: green;
        animation: blink .5s linear infinite alternate;
      }

      &.inactive::after {
        background-color: red;
      }
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1400px) {
  .horizontal-list {
    justify-content: center;

    .item {
      width: 40%;
    }
  }
}

@media screen and (max-width: 960px) {
  .horizontal-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;

    .item {
      width: 90%;
    }
  }
}