@import '../../colors.scss';

.nickname-prompt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: .33);

  .nickname-prompt-wrapper {
    background: white;
    box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
    border-radius: 8px;
    padding: 25px;
    max-width: 40%;
    font-size: 1.8em;
    color: $color-black;

    .title {
      font-size: 1.8em;
      margin-bottom: 10px;
    }
  
    .subtitle {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 20px;
    }

    input[type=text], input[type=button] {
      color: $color-white;
      border: none;
      border-radius: 5px;
      padding: 8px 12px;
      outline: 0;
      display: block;
    }

    input[type=text] {
      font-size: 1em;
      width: 70%;
      background-color: $color-bg-sub;
      margin-bottom: 30px;
      margin-top: 8px;
    }

    input[type=text]::placeholder {
      opacity: 1;
      color: $color-bg-main;
    }

    input[type=button] {
      font-size: 1.2em;
      text-transform: uppercase;
      background-color: $color-bg-main;
      float: right;
    }

    input[type=button]:disabled {
      opacity: .5;
    }
  }
}