@import '../../colors';

.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;


  .left-panel {
    flex: 1;
    height: 100%;
    position: relative;

    .minigame-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
    }
  }

  .right-panel {
    width: 20%;
    height: 100%;
  }

  .download-panel {
    color: $color-bg-sub;
    width: 90vw;
    margin: 20px 20px 0 20px;
    .title {
      font-size: 1.4em;
      font-weight: 700;
      background-color: white;
      box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
      padding: 12px;
    }
    .apk-list {
      margin-top: 15px;

      a {
        display: block;
        text-decoration: none;
        color: $color-bg-main;
        padding: 10px 12px 10px 30px;
        background: white url('/assets/images/android-icon.png') no-repeat 8px 8px / 16px auto;
        border-radius: 5px;
        font-weight: 700;
      }

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1400px) {
  .home {
    .right-panel {
      min-width: 350px;
    }
  }
}

@media screen and (max-width: 960px) {
  .home {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    overflow-x: auto;
  
    .left-panel {
      width: calc(100% - 40px);
      margin: 0 20px 20px 20px;
      height: 200px;
      flex: 1;
    }
  
    .right-panel {
      width: calc(100% - 40px);
      margin: 20px 20px 0 20px;
      font-size: .8em;
    }
  }
}