@import '../../colors.scss';

.buy-avatar-popup-overlay {
  z-index: 1000;
}

.quest-panel-overlay {
  z-index: 100;
}

.quest-panel-overlay {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: .33);

  .quest-panel-wrapper {
    background: white;
    box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
    border-radius: 8px;
    padding: 25px;
    min-width: 60vw;
    height: 92%;
    font-size: 1.8em;
    color: $color-black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    input[type=button]:not(:disabled):hover {
      box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
      cursor: pointer;
    }

    .title {
      font-size: 1.8em;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    .quest-list-wrapper {
      flex: 1;
      overflow-y: auto;
      margin-bottom: 20px;
      width: 100%;
      position: relative;

      .quest-item {
        width: 100%;
        padding: 10px 20px;
        background-color: $color-bg-sub;
        color: $color-white;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .quest-item-reward {
          width: 75px;
          height: 75px;
          position: relative;
          background: $color-white no-repeat center center / 65% auto;
          margin-right: 15px;

          &.boxes {
            background-image: url('/assets/images/egg.png');
          }

          &.coins {
            background-image: url('/assets/images/coin.png');
          }

          .quest-item-reward-count {
            position: absolute;
            right: 5px;
            bottom: 5px;
            color: $color-bg-sub;
            font-size: .6em;
            font-weight: 700;
          }
        }

        .quest-item-title {
          font-size: 1.2em;
          font-weight: 700;
        }

        .quest-item-buttons {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          height: 75px;

          input[type=button] {
            font-size: .8em;
          }
        }
      }
    }

    input[type=button] {
      color: $color-white;
      border: none;
      border-radius: 5px;
      padding: 8px 12px;
      outline: 0;
      display: block;
      font-size: .6em;
      text-transform: uppercase;
      background-color: $color-bg-main;

      &:disabled {
        background-color: $color-lightgrey;
      }
    }

    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      input[type=button] {
        margin-left: 10px;
      }
  
      input[type=button]:disabled {
        opacity: .5;
      }
    }
  }
}