@import '../../colors.scss';

.vertical-list {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .item {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    background: rgba(0,0,0,.5);
    padding: 0 0 0 20px;
    transition: all .2s;
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    position: relative;
    border: solid 1px $color-white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);

    // &:hover {
    //   box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
    // }

    .icon {
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      background: white no-repeat center center / cover;
    }

    .title {
      flex: 1;
      font-size: .9em;
      color: $color-white;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        height: 30px;
        width: auto;
        margin-left: 10px;
      }
    }
  }
}