@import '../../colors.scss';

.buy-avatar-popup-overlay {
  z-index: 1000;
}

.profile-panel-overlay {
  z-index: 100;
}

.profile-panel-overlay {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: .33);

  .profile-panel-wrapper {
    background: white;
    box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
    border-radius: 8px;
    padding: 25px;
    min-width: 60vw;
    height: 92%;
    font-size: 1.8em;
    color: $color-black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    input[type=button]:not(:disabled):hover {
      box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
      cursor: pointer;
    }

    .title {
      font-size: 1.8em;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    .avatars-wrapper {
      flex: 1;
      overflow-y: auto;
      margin-bottom: 20px;
      width: 100%;

      .avatar-item {
        display: inline-block;
        width: 11%;
        height: auto;
        position: relative;
        background: rgba(0,0,0,0.9) no-repeat center center / 90% auto;
        border: solid $color-lightgrey 2px;
        color: white;
        transition: all 0.2s ease;
        margin: .75%;
        border-radius: 5px;
        cursor: pointer;

        &:hover:not(.disabled) {
          box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
        }

        &:before {
          display: block;
          content: '';
          padding: 100% 0 0 0;
        }

        &.disabled {
          opacity: .8;
          cursor: default;
        }

        &.legendary {
          background-color: rgba(201, 176, 55, .9);
        }

        &.epic {
          background-color: rgba(215, 215, 215, .9);
        }

        &.rare {
          background-color: rgba(173, 138, 86, .9);
        }

        &.selected {
          background-size: 110% auto;
          border-color: $color-bg-main;
        }

        &.selected {
          background-color: rgba(0,0,0,0.8);
        }

        &.selected.legendary {
          background-color: rgba(201, 176, 55, 0.8);
        }

        &.selected.epic {
          background-color: rgba(215, 215, 215, 0.8);
        }

        &.selected.rare {
          background-color: rgba(173, 138, 86, 0.8);
        }
        
        .star {
          position: absolute;
          top: 5%;
          right: 5%;
          width: 15%;
          height: auto;
        }
      }
    }

    input[type=button] {
      color: $color-white;
      border: none;
      border-radius: 5px;
      padding: 8px 12px;
      outline: 0;
      display: block;
      font-size: .6em;
      text-transform: uppercase;
      background-color: $color-bg-main;
    }

    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      input[type=button] {
        margin-left: 10px;
      }
  
      input[type=button]:disabled {
        opacity: .5;
      }
    }
  }
}