@import '../../colors';

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    2% {
        transform: translateY(-25%);
    }
    4% {
        transform: translateY(0);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all .2s ease;

        &:hover {
            transform: translateX(10px);
        }
    }

    .logo {
        height: 50px;
        width: auto;
        margin-right: 20px;
    }

    .title {
        font-size: 1.5em;
        color: $color-white;
        font-weight: 700;
    }
    
    .spacer {
        flex: 1;
    }

    .signin-btn {
        display: block;
        img {
            height: 36px;
            width: auto;
        }
    }

    .wrapper {
        position: relative;
        transition: all .2s ease;
        background-color: rgba(0,0,0,.2);
        color: $color-white;
        padding: 5px 15px;
        border-radius: 5px;
        height: 30px;
        cursor: pointer;

        &:hover {
            transform: scale(.9);
            box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .5);
        }

        .pin {
            position: absolute;
            left: -.3em;
            bottom: -.3em;
            background: white;
            color: $color-bg-sub;
            font-size: 1em;
            font-weight: 700;
            width: 1.2em;
            height: 1.2em;
            text-align: center;
            border-radius: 50%;
            line-height: 1.2em;
            animation: jump linear 15s infinite;
        }
    }

    .quest-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        
        .quest-wrapper-title {
            font-size: 1em;
            font-weight: 700;
        }
    }

    .profile-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .avatar-img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: white no-repeat center center / 30px 30px;
            margin-left: 10px;
        }

        .nickname-and-coins {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            // flex-direction: column;
            font-size: 1em;

            .nickname {
                font-size: 1.1em;
                font-weight: 700;
                // margin-right: 10px;
            }

            .coins {
                font-size: 1em;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                img {
                    height: 1em;
                    width: auto;
                    margin-left: 2px;
                }
            }
        }

        
    }
}

@media screen and (max-width: 960px) {
    header {
        .title {
            font-size: 1.6em;
        }
    }
  }